body {
	padding: 0;
    margin: 0;
    background-color: lightslategray;
    font-family: sans-serif, Microsoft Yahei, Helvetica Neue;
    zoom: 80%;
}

.container {
	z-index: 10;
    margin: 0 auto;
    margin-top: 100px;
    width: 1050px;
    /*1550*/
    height: 3800px;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
}
.box{
    margin: 0 auto;
    margin-top: 80px;
    width: 950px;
    /*1550*/
    height: 3600px;
    background-color: white;
    border: 2px solid lightslategray;
}
.head{
	z-index: 11;
	width: 850px;
	height: 300px;
	margin: 0 auto;
	background-color: whitesmoke;
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
}
.image{
	position: absolute;
	width: 250px;
	height: 300px;	
/*	background-color: lightslategray;*/
	}
.img{
    width: 160px;
    height: 160px;
	background-image: url(../img/asagi.png); 
    background-position: center;
    border-radius: 50%;
    border: 5px solid #607d8b;
    margin-top: 35px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
}
.name{
	font-weight: 500;
	margin-top: 220px;
	color: #607d8b;
    text-align: center;
}
.tag{
	font-weight: 500;
	color: #607d8b;
	text-align: center;
}
.info{
	width: 600px;
	height: 300px;
/*	background-color: lightslategray;*/
	position: absolute;
    right: 0;
}
.info li{
	list-style-type:none;
}
.info-header{
	width: 250px;
	height: 300px;
	/*background-color: lightslategray;*/
	float: left;
	color: #3e5865;
}
.header-box{
    margin-top: 43px;
}
.header-ul{
	list-style: none;
    padding-left: 0px;
    font-size: 16px;
    line-height: 2;
}
.header-name{
	display: inline-block;
	width: 100px;
}
.header-n{
	font-size: 22px;
/*    margin-left: 20px;*/
}

.header-value{
	width: 150px;
}
.info-contact{
	width: 350px;
	height: 300px;
	/*background-color: lightslategray;*/
	float: left;
	color: #3e5865;
}
.box-head{
	height: 150px;
}
.side{
	position: absolute;
    width: 270px;
    height: 89%;
 /*   background-color: whitesmoke;*/
    padding-left: 20px;
    padding-right: 20px;
    border-right: 2px solid lightslategray;
    font-size: 22px;
    font-weight: unset;
}
.side-edu{
	width: 100%;
	height: 200px;
	float: right;
	text-align: right;
	font-weight: bold;
}
.side-job{
	width: 100%;
	height: 650px;
	float: right;
	text-align: right;
	font-weight: bold;
}
.side-item{
	width: 100%;
	height: 1360px;
	float: right;
	text-align: right;
	font-weight: bold;
}
.side-major{
	width: 100%;
	height: 740px;
	float: right;
	text-align: right;
	font-weight: bold;
}
.side-skill{
	width: 100%;
	height: 200px;
	float: right;
	text-align: right;
	font-weight: bold;
}
.side-my{
	width: 100%;
	height: 200px;
	float: right;	
	text-align: right;
	font-weight: bold;
}
.main{
	position: relative;
    margin-left: 312px;
    min-height: 100%;
    padding: 20px;
	font-size: 20px;
}
.ico-fa{
	padding-right: 15px;
}

.main-side-edu{
	height: 200px;
	width: 100%;
	text-align: left;
}
.side-edu-time{
	font-weight: bold;
	padding: 10px 0;
	border-bottom: 2px solid #3e5865;
}
.side-edu-test{
	padding: 10px 0;
}
.side-edu-test div{
	padding: 10px 0;
}
.side-edu-test div span{
	font-weight: bold;
}
.main-side-job{
	height: 650px;
	width: 100%;
	text-align: left;
}
.side-job-text{
	padding: 10px 0;
}
.side-job-text div{

}
.job-name{
	padding: 10px 0 20px 0;
	font-weight: bold;
}
.job-name-head{
	padding-bottom: 10px;
	font-weight: bold;
}
.main-side-item{
	height: 1350px;
	width: 100%;
	text-align: left;
}
.side-itme-head{

	padding: 10px 0;
	border-bottom: 2px solid #3e5865;
}
.side-itme-head span{
	font-weight: bold;
}
.item-demo{
	font-size: 20px;
	color: #fff;
	line-height: 25px;
	width: 80px;
	height: 25px;
	float: right;
	text-align: center;
	background-color: #607d8b;
	border-radius: 10px;
	padding: 3px;

}
.item-code{
	font-size: 20px;
	color: #fff;
	line-height: 25px;
	width: 80px;
	height: 25px;
	float: right;
	text-align: center;
	background-color: #607d8b;
	border-radius: 10px;
	padding: 3px;
	margin-right: 10px;
}
.side-itme-text{
	padding: 10px 0;
}
.main-side-major{
	height: 720px;
	width: 100%;
	text-align: left;
}
.main-side-skill{
	width: 100%;
	text-align: left;
}
.main-side-my{
	width: 100%;
	text-align: left;
}
.asagi{
	width: 60px;
	height: 60px;
	line-height: 67px;
	display: none;
	opacity: 0;
	text-align: center;
	position: fixed;
	right: 50px;
	bottom: 80px;
	color: white;
	background-color: #000000;
}
.asagi:hover{
	display: block;
	opacity: .8;
}
.box_m{
	display: block;
	opacity: .5;
}